:root {
  --text-primary: #000;
  --text-secondary: #1f6bb6;
  --bgPrimary: #fff;
  --bgSecondary: #f9f9f9;
  --orange: #dac04a;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: var(--orange) !important;
}

.app-container {
  display: flex;
  overflow: hidden;
}

.navbar.menu {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
}

.main-content.body-section {
  flex: 0.8;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}
@media screen and (max-width: 1300px) {
  .main-content.body-section {
    margin-left: -12px;
  }
}

@media screen and (max-width: 1072px) {
  .main-content.body-section {
    margin-left: 15px;
  }
}
@media screen and (max-width: 990px) {
  .main-content.body-section {
    margin-left: 32px;
  }
}
@media screen and (max-width: 920px) {
  .main-content.body-section {
    margin-left: 45px;
  }
}
@media screen and (max-width: 850px) {
  .main-content.body-section {
    margin-left: 65px;
  }
}

.routes {
  padding: 20px;
}
.navbar-container {
  position: fixed;
  left: 0;
  height: 100vh;
  margin: 0px;
  background-color: rgb(1, 16, 43);
}

.logo {
  background-color: var(--text-secondary);
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo-link {
  margin: 1px 0 0 4px;
}
/* .logo img {
  width: 35px;
} */
.logo-link a {
  color: white !important;
}
.menu-control-container {
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
}

@media screen and (max-width: 800px) {
  .app-container {
    flex-direction: column;
    overflow: auto;
  }

  .navbar.menu {
    flex: 1;
  }

  .main-content.body-section {
    flex: 1;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 10px;
  }

  .navbar-container {
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }

  .menu-control-container {
    display: block !important;
  }

  .ant-menu {
    position: absolute;
    right: 0px;
  }
  .home-title {
    font-size: 1.4rem !important;
  }
  .show-more {
    font-size: 1.3rem !important;
  }
}
/* home page */
.home-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 500px) {
  .home-heading {
    margin-top: 20px;
  }
}
/* Crypto Coins Page */
.crypto-coins-card-container {
  min-height: 65vh !important;
  margin-top: 50px;
}
.crypto-coins-card {
  min-width: 300px;
}
.crypto-coins-card .crypto-coins-image {
  width: 35px;
}
.search-crypto-coins {
  width: 250px;
  z-index: 9999;
  top: 0;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px auto 10px auto;
}
.search-crypto-coins .ant-input-affix-wrapper {
  border: 1px solid rgb(179, 163, 72);
}

/* coin details */
.crypto-coin-detail-container {
  margin: 30px;
}

.crypto-coin-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}

.crypto-coin-heading-container .crypto-coin-name {
  font-weight: 900;
  color: var(--text-secondary);
}

.crypto-coin-heading-container p {
  font-size: 0.85rem;
  margin-bottom: 20px;
  font-style: italic;
}
.time-period {
  width: 200px !important;
  margin-top: 20px !important;
  border: var(--orange);
}
.time-period.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--orange);
}
.coin-stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.coin-stats-container h5 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--text-secondary) !important;
}
.coin-value-stats-heading p {
  font-size: 0.9rem;
  opacity: 0.9;
  color: var(--text-secondary);
}
.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
}
.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 12px;
}
.coin-stats-name .icon {
  font-size: 1rem;
  color: #85680c;
}
.stats {
  font-weight: 800;
}
/* Coin Description */
.coin-desc-link {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  padding-top: 20px;
}
.coin-desc-link h3 {
  font-weight: 700;
  color: var(--text-secondary);
}
.coin-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}
.link-name {
  text-transform: capitalize;
  font-size: 1rem;
}
.coin-link a {
  color: var(--text-secondary);
  font-weight: 700;
}
.coin-link:hover,
.coin-stats:hover {
  background-color: var(--bgSecondary);
}

.footer-section {
  background-color: #001529;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 100%;
  margin-top: auto;
}
